<section class="food_wrapper">
    <ul class="food_list-items">
        <% if(status == 'courier'){ %>
            <%result.forEach(order =>{%>
            <form action="" method="POST">
                <p><%- order.userName%></p>
                <p><%- order.address%></p>
                <p><%- order.price.split('.')[0]%></p>
                <p><%- order.contact%></p>
                <input type="hidden" value="<% order.id %>" name="orderID">
                <input type="hidden" value="<% order.cartID %>" name="cartID">
                <button type="submit">Взяти роботу</button>
            </form>
        <%})%>
        <% } else { %>
            <%result.forEach((item) =>{%>
                    <form action="/cart" method="POST">
                <li class="food_list-item">
                    <img src="<%-item.image_link%>" alt="" class="food_list-img">
                    <p class="food_list-text" for="price"><%- item.foodName%></p>
                    <input type="hidden" name="foodName" value="<%- item.foodName%>"/>
                    <input type="hidden" name="id" value="<%- item.id %>">
                    <input type="hidden" name="image" value="<%- item.image_link %>">


                    <div class="food_list-review_wrapper">

                        <p class="food_list-review_text">$<%- item.price%></p>
                        <input type="hidden" name="price" value="<%- item.price%>"/>

                        <p class="food_list-review_text"><%- item.storeName%></p>
                        <input type="hidden" name="storeName" value="<%- item.storeName%>"/>

                        <p class="food_list-review_text"><%- item.id%></p>
                    </div>

                    <button type="submit" class="add_cart_button">Додати в корзину <img class="add_cart_image" src="images/shopping-cart.svg" alt=""></button>
                </li>
            </form>
                <%})%>
        <% } %>
    </ul>
</section>